<div class="modal-dialog">
	<div class="modal-content">	
		<div class="modal-body">
			<p>Do you really want to permanently remove <i>{{title}}</i> from your inventory?</p>
			<p>(That game was awesome ...)</p>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	<button type="button" class="btn btn-danger">
        		<i class="fa fa-trash"></i>
        		<i class="fa fa-circle-o-notch fa-spin"></i>
        		Delete
        	</button>
		</div>
	</div> <!-- // .modal-content -->
</div> <!-- // .modal-dialog -->
