<caption>
  <a id="add-record" class="hvr-radial-out" data-toggle="tooltip" data-placement="left" title="Search the database">
    <i class="fa fa-search-plus fa-2x"></i>
  </a>
</caption>
<thead>
  <tr>
    <th class="all">Title</th>
    <th class="all">System</th>
    <th class="none">Genre</th>
    <th class="none">Developer</th>
    <th class="none">Description</th>
    <th class="desktop tablet">Released</th>
    <th class="none">Completed</th>
    <th class="none">Notes</th>
    <th class="desktop">Updated</th>
  </tr>
</thead>
