<form name="search-database" class="form-inline">
	<span id="close-form" class="glyphicon glyphicon glyphicon-remove-circle hvr-pop" aria-hidden="true"></span>
	<h4>Search Database</h4>
	<div class="form-group">
		<div class="input-group">
			<input type="text" name="name" placeholder="Name" />
			<input type="text" class="form-control" autofocus name="search" placeholder="Enter a game here" />
			<span class="input-group-btn">
				<button id="search" class="btn btn-primary">
					<i class="fa fa-search"></i>
					<i class="fa fa-circle-o-notch fa-spin"></i>
					Search
				</button>
			</span>
		</div>
	</div>
	<dl id="search-instructions">
		<dt>Notes:</dt>
		<dd>Make sure your searches are as specific as possible (i.e. Search <code>Mega Man 4</code> <strong>and not</strong> <code>Megaman 4</code>).</dd>
		<dd>You can update the game after it's been added to your inventory.</dd>
		<dd>Search results are limited to 100 titles.</dd>
	</dl>
</form>
